.weather-card {
  background-color: rgba(255, 255, 255, 0.78);
  padding: 20px;
  border-radius: 20%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  display: inline-block;
  text-align: center;
  width: 100%;
  max-width: 380px;
  color: black;
  font-weight: 900;
  animation: fadeIn 0.8s ease-in-out;
}

.weather-card:hover {
  background-color: rgba(255, 255, 255, 1);
 
}

.weather-card h2 {
  font-weight: 800;
  font-size: 2.95rem;
  margin-bottom: 40px;
}

.weather-card h3 {
  font-size: 1.8rem;
  margin-bottom: 40px;

}

.weather-card p {
  font-weight: 600;
  font-size: 1.1rem;
}

@media (max-width: 1200px) {
  .weather-card {
    font-size: .9rem;
    width: 90%;
    max-width: 330px;
  }

  .weather-card h2 {
    font-size: 2.8rem;
  }

  .weather-card h3 {
    font-size: 1.6rem;
  }

  .weather-card p{
    font-size: 1.02rem;
  }
}

@media (max-width: 1000px) {
  .weather-card {
    max-width: 300px;
  }

  .weather-card h2 {
    font-size: 2.65rem;
  }

  .weather-card h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .weather-card p{
    font-size: 1.02rem;
  }
}

@media (max-width: 900px) {
  .weather-card {
    /* width: 90%; */
    max-width: 270px;
  }

  .weather-card h2 {
    font-size: 2.4rem;
  }

  .weather-card h3 {
    font-size: 1.35rem;
  }

  .weather-card p{
    font-size: .98rem;
  }
}

@media (max-width: 800px) {
  .weather-card {
    width: 90%;
    max-width: 260px;
  }

  .weather-card h2 {
    font-size: 2.3rem;
  }

  .weather-card h3 {
    font-size: 1.2rem;
  }

  .weather-card p{
    font-size: .95rem;
  }
}

@media (max-width: 430px) {
  .weather-card {
    max-width: 250px;
  }
}

@media (max-width: 375px) {
  .weather-card {
    max-width: 240px;
  }

  .weather-card h2 {
    font-size: 2rem;
  }
}


@media (max-width: 300px) {
  .weather-card {
    max-width: 200px;
  }

  .weather-card h2 {
    font-size: 2.2rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
