/* Weather.css */

/* Weather Icon Styling */
.icon-wrapper {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.hour {
  flex: 0 0 auto;
  background: rgba(0, 31, 63, 0.6);
  color: #ffff33;
  padding: 1rem 0;
  border-radius: 12px;
  min-width: 80px;
  max-width: 120px;
  width: 20%;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
  font-size: 0.92rem;
  line-height: 0.3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
}

.hour img {
  width: 60px;
  height: 60px;
}

.hour:hover {
  transform: scale(1.05);
  background: rgba(0, 31, 63, 0.7);
}

/* Dividers */
.divider {
  height: 1px;
  background-color: #ccc;
  margin: 2rem 0;
  border: none;
  opacity: 0.5;
}

.gradient-line {
  height: 2px;
  background: linear-gradient(to right, #004f99, #66b3ff, #cce6ff);
  border: none;
  margin: 1rem 0;
}

/* Extra Info Card */
.right-bar h3  {
  margin-top: 0;
  font-size: 1.2rem;
  margin-bottom: 12px;
}

@media (max-width: 1200px) {
  .extra-info-card {
    width: 63%;
    font-weight: 550;
  }

  .extra-info-card p{
    font-size: 0.98rem;
  }

}

@media (max-width: 1100px) {
  .extra-info-card {
    width: 38%;
    font-weight: 500;
  }
  .right-bar h3 {
    margin-top: 80px;
    font-size: 1rem;

  }

  .extra-info-card p {
    font-size: 0.92rem;
  }

}


@media (max-width: 800px) {
  .extra-info-card {
    width: 40%;
  }

  .extra-info-card p {
    font-size: 0.9rem;
  }
}

/* Responsive Adjustments for Hourly Cards and Dropdown */
@media (max-width: 750px) {
  .extra-info-card {
    /* width: 130px; */
  }

  .extra-info-card p {
    font-size: 0.85rem;
  }
  .hour {
    line-height: 0;
  }

  #unitDropdown {
    display: block;
    margin: 0 auto;
    height: 20px;
    font-size: 0.875rem;
    padding: 0 8px;
  }
}

@media (max-width: 700px) {
  .extra-info-card {
    width: 250px;
    font-weight: 600;
  }
  .extra-info-card p{
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .extra-info-card {
    width: 95%;
    /* font-weight: 600; */
  }
  .extra-info-card p{
    font-size: 1rem;
  }
}