/* extra-info-card.css */
.extra-info-card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px 14px;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: 500;
  max-width: 250px;
  animation: fadeIn 0.6s ease-in-out;
}

/* Extra Info Card Hover Effect */
.extra-info-card:hover {
  transform: scale(1.02);
  background: rgba(255, 255, 255, 1);
  font-weight: 550;
}

.extra-info-section {
  display: flex;
  flex-direction: column; /* Stack header and card vertically inside each section */
  justify-content: center;
  align-items: center; /* Center the content horizontally */
  gap: 0; /* Space between the header and the card */
}

.extra-info-card h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
