/* extra-info-card.css */
.extra-info-card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px 14px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: 500;
  max-width: 250px;
  animation: fadeIn 0.6s ease-in-out;
}

/* Extra Info Card Hover Effect */
.extra-info-card:hover {
  transform: scale(1.06);
  background: rgba(255, 255, 255, 1);
  font-weight: 550;
}

.extra-info-section {
  display: flex;
  flex-direction: column; /* Stack header and card vertically inside each section */
  justify-content: top;
  align-items: center; /* Center the content horizontally */
  gap: 8px;
}

.extra-info-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .extra-info-card {
    width: 160px;
    height: 140px;
  }

  .extra-info-card p{
    font-size: .88rem;
    line-height: .7rem;
  }
}


@media (max-width: 700px) {
  .extra-info-card {
    width: 250px;

    height: 150px;
  }
  .extra-info-card p{
    font-size: 1rem;
  }
  
}

@media (max-width: 360px) {
  .extra-info-card {
    width: 95%;
    /* font-weight: 600; */
  }

  .extra-info-card p{
    font-size: 1rem;
  }
}