/* HourlyForecast.css */

/* Hourly Forecast Container */
.hourly-forecast-container {
  margin: 0 2rem;
  overflow-x: auto;
}

.hourly-forecast-container h2 {
  text-shadow: 1px 1px 8px #000;
  font-size: 1.5rem;
}

/* Hourly Forecast Container */
.hourly-forecast {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 0;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.hourly-forecast-wrapper {
  display: flex;
  justify-content: center;
}

/* Hourly Cards */
.hourly-card {
  background-color: rgba(20, 50, 79, .7);
  border-radius: 15px;
  padding: 12px 8px;
  margin: 3px;
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 100%;
  max-width: 95px;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 31, 63, .8);
}

.hourly-card:hover {
  background-color:rgba(20, 50, 79, 1);
  transform: scale(1.03); /* Slightly increase size */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition for size and color */
}

.hourly-card p {
  font-size: 1rem;
  margin: 4px 0;
}

.icon-wrapper.small img {
  width: 50px;
  height: 50px;
}

@media (max-width: 1400px) {
  .hourly-card {
    padding: 15px 6px;
    margin: 2px;
    /* flex: 0 0 auto; */
    max-width: 90px;
    box-shadow: 0 3px 5px rgba(0, 31, 63, .7);
  }

  .hourly-card:hover {
    transform: scale(1.02);
  }

  .hourly-forecast-container h2 {
    margin-top: 1px;
    font-size: 1.4rem;
  }

  .hourly-card p {
    font-size: .9rem;
    /* margin: 5px 0; */
  }

  .icon-wrapper.small img {
    width: 42px;
    height: 42px;
  }
}


@media (max-width: 1200px) {
  .hourly-card {
    /* padding: 15px 4px; */
    margin: 2px;
    /* flex: 0 0 auto; */
    width: 90%;
    max-width: 80px;
    box-shadow: 0 3px 5px rgba(0, 31, 63, .5);
  }

  .hourly-card:hover {
    transform: scale(1.018);
  }

  .hourly-forecast-container h2 {
    font-size: 1.1rem;
  }

  .hourly-card p {
    font-size: .86rem;
  }

  .icon-wrapper.small img {
    width: 37px;
    height: 36px;
  }
}

@media (max-width: 1000px) {
  .hourly-card {
    margin: 1px;
    max-width: 59px;
    box-shadow: 0;
  }

  .hourly-card:hover {
    transform: scale(1.014);
  }

  .hourly-forecast-container h2 {
    font-size: 1rem;
  }

  .hourly-card p {
    font-size: .85rem;
  }

  .icon-wrapper.small img {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 800px) {
  .hourly-card {
    margin:0;
    max-width: 48px;
    border-radius:0;
    margin-bottom: 50px;
  }

  .hourly-forecast-container h2 {
    font-size: 1.1rem;
  }

  .hourly-card p {
    font-size: .8rem;
    /* margin: 5px 0; */
  }

  .icon-wrapper.small img {
    width: 35px;
    height: 35px;
  }
}


@media (max-width: 600px) {
  .hourly-card {
    max-width: 46px;
  }

  .hourly-forecast-container h2 {
    font-size: 1rem;
  }

  .hourly-card p {
    font-size: .78rem;
    /* margin: 5px 0; */
  }

  .icon-wrapper.small img {
    width: 33px;
    height: 33px;
  }
}


@media (max-width: 500px) {
  .hourly-card {
    max-width: 41px;
  }

  .hourly-forecast-container h2 {
    font-size: .85rem;
  }

  .hourly-card p {
    font-size: .75rem;
    /* margin: 5px 0; */
  }

  .icon-wrapper.small img {
    width: 30px;
    height: 30px;
  }
}