/* HourlyForecast.css */


/* Hourly Forecast Container */
.hourly-forecast-container {
  margin: 1rem 2rem 0 2rem;
  overflow-x: auto;
}

.hourly-forecast-container h2 {
  text-shadow: 0 0 2px #001122;
  font-size: 1.5rem;
}

/* Hourly Forecast Container */
.hourly-forecast {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 0;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.hourly-forecast-wrapper {
  display: flex;
  justify-content: center;
  /* border-radius: 15px;
  background-color: rgba(0, 31, 63, .1); */
}

/* Hourly Cards */
.hourly-card {
  background-color: rgba(0, 31, 63, .6);
  /* background-image: radial-gradient(rgba(0, 31, 63, .85), rgba(0, 31, 63, .8), rgba(0, 31, 63, .75), rgba(0, 31, 63, .7),  rgba(0, 31, 63, .6)); */
  border-radius: 8px;
  padding: 15px 8px;
  margin: 10px;
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 100%;
  max-width: 110px;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 31, 63, .7);
}

.hourly-card:hover {
  background-color: rgba(0, 31, 63, 1);
  transform: scale(1.05); /* Slightly increase size */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition for size and color */
}

.hourly-card h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.hourly-card p {
  font-size: 1rem;
  margin: 5px 0;
}
