/* CityMap/CityMap.css */
.weather-map-container {
    width: 100%;
    max-width: 570px;
    height: 310px;
    margin: -95px 2% 0 auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; /* good practice for internal absolute children */    
  }
  
  .weather-map-iframe {
    position: absolute; /* needed for 'top' to work */
    top: 0;             /* adjust as needed */
    left: 0;
    width: 100%;        /* better to fill container */
    height: 100%;       /* better to fill container */
    border: none;
  }
  
  @media (max-width: 1300px) {
    .weather-map-container {
      max-width: 550px;

    }

  }

  @media (max-width: 1200px) {
    .weather-map-container {
      /* max-width: 550px; */
      height: 250px;
      margin: -10px 2% 0 auto;
    /*  margin: 2% auto; */

    }

  }


  @media (max-width: 1200px) {
    .weather-map-container {
      max-width: 500px;
      height: 180px;
      width: 85%;
      margin: 2% auto;

    }
  }