/*  Weather.css  */
.icon-wrapper {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  }
  
  .hourly-forecast-container {
    margin: 1rem 2rem 0 2rem;
    overflow-x: auto;
  }
  
  .hourly-forecast-container h2{
    text-shadow: 0 0 2px #001122;
    font-size: 1.1rem;
  }
  .hourly-forecast {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
    padding: .4rem 0;
    scroll-behavior: smooth;
  }
  
  .hour {
    flex: 0 0 100px; /* Sets a fixed width of 100px for each .hour card. 0 0 means: don't grow or shrink, just stay exactly 100px wide. */
    background: rgba(0, 31, 63, .6);
    color: #ffff33;
    padding: 1rem 0;
    border-radius: 12px;
    /* min-width: 6%; */
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s;
    font-size: 0.92rem;
    line-height: .3;  /* to reduce spacing between lines */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* allow wrapping instead of one long line */
    word-break: break-word; /* break long words if needed */
  }
  
  .hour img {
    width: 60px;
    height: 60px;
  }
  
  .hour:hover {
    transform: scale(1.05);
    background: rgba(0, 31, 63, .7);
  }

  .divider {
    height: 1px;
    background-color: #ccc;
    margin: 2rem 0;
    border: none;
    opacity: 0.5;
  }
  
  .gradient-line {
    height: 2px;
    background: linear-gradient(to right, #004f99, #66b3ff, #cce6ff);
    border: none;
    margin: 1rem 0;
  }
  
  
  @media (max-width: 700px) {
    .hour {
      line-height: 0;
    }
    

    #unitDropdown {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 20px; 
      font-size: 0.875rem; /* Smaller font size */
      padding: 0 8px;     
    }

  }

/* 
  @media (max-width: 550px) {
  
    .hour {
      padding: .1rem;
    }
  
    .hourly-forecast-container h2 {
      display: none;
    }

  } */
  