
.footer-location p {
    text-shadow: 2px 2px 9px #000;
  }
  
  .footer-location {
    position: fixed;
    bottom: 1px;
    width: 100%;
    text-align: center;
    /* padding: 8px 0; */
    font-size: 1.2rem;
    z-index: 1000;
  }

@media (max-width: 750px) {
    .footer-location {
      font-size: 1rem;
      /* padding-top: 4px; */
    }
    
}


@media (max-width: 600px) {
  .footer-location {
    font-size: .85rem;
  }
}

@media (max-width: 500px) {
  .footer-location {
    font-size: .8rem;

  }
}

@media (max-width: 400px) {
  .footer-location {
    font-size: .7rem;
  }
}

@media (max-width: 380px) {
  .footer-location {
    font-size: .68rem;
  }
}

@media (max-width: 350px) {
  .footer-location {
    font-size: .65rem;
  }
}


@media (max-width: 300px) {
  .footer-location {
    font-size: .6rem;
  }
}


@media (max-width: 290px) {
  .footer-location {
    font-size: .55rem;
  }
}

@media (max-width: 270px) {
  .footer-location {
    font-size: .53rem;
  }
}