/* App.css */
.App {
  text-align: center;
  padding: 20px;
}

input {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px;
}

div {
  margin-top: 20px;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

#error-message {
  color: red;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  background-color: #f8d7da;
  border-radius: 5px;
  margin-top: 10px;
}

input {
  padding: 12px;
  margin-right: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
  max-width: 400px;
  box-sizing: border-box;
}
select {
  width: 120px;
}
input:focus {
  outline: none;
  border-color: #007bff;
}

.weather-card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: inline-block;
  text-align: left;
  width: 100%;
  max-width: 400px;
}

.weather-card h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}

.weather-card p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 8px;
}

#loading-message,
#error-message {
  text-align: center;
  font-weight: bold;
  margin: 20px;
}

@media (max-width: 600px) {
  .weather-card {
    width: 90%;
  }

  input {
    width: 90%;
  }
  select {
    margin-top: 10px; /* Add space between input and select */
  }
}
