/* App.css */
body {
  background-color: #007bff; /* Fallback for old browsers */
  background: linear-gradient(to bottom, #001f3f, #004f99, #66b3ff, #cce6ff);
  /* background: linear-gradient(to bottom right, #001f3f,#003366, #004f99, #66b3ff); */
  color: white; /* White text for readability */
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  min-height: 100vh;
}

.App {
  padding: 20px;
}

.container h1 {
  text-align: left;
  margin-left: 1.8%;
  font-size: 2.3rem;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}
.top-bar {
  display: flex;
}

.left-bar {
  width: 76%;
}

.right-bar {
  width: 24%;
}


select{
  padding: 10px;
  margin: 5px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

.weather-card{
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  width: 100%;
  max-width: 380px;
  color: black;
  font-weight: 600;
  animation: fadeIn 0.8s ease-in-out;
}

.weather-card h2{
  font-weight: 800;
  font-size: 2.95rem;
}




@media (max-width: 800px) {

  .container h1 {
    font-size: 2rem;

  }
}

@media (max-width: 700px) {
  .container h1 {
    text-align: center;
    margin-left: 0;
    font-size: 1.9rem;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  }

  .top-bar {
    flex-direction: column;
  }

  .right-bar, .left-bar {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container h1 {
    font-size: 1.85rem;
  }

  .weather-card,
  input {
    width: 90%;
  }

  .weather-card{
    font-size: 1rem;
  }

  .weather-card h2{
    font-size: 2.8rem;
  }
}

@media (max-width: 430px) {
  .container h1 {
    font-size: 1.7rem;
  }

  .weather-card{
    font-size: .93rem;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 1.6rem;
  }
  .weather-card h2{
    font-size: 2.6rem;
  }

  .weather-card{
    font-size: .9rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
